.container-card{
    display: flex;
    justify-content: center;
}

.carousel-inner img{
    height: 60vh;
    object-fit: cover;
    
}
.body{
    background-image: url(/public/media/1.gif);
    background-size: contain;
}
.chat {
    background-color: blue;
}